.container
  .row
    .col-sm-12
      h2 Browse Guides
  .row
    .col-sm-3.card-space(ng-repeat="g in guideArray")
      .ui.card
        .image
          img(src='{{g.photo}}')
        .content
          a.header(href="{{g.url}}") {{g.location}}
        .extra.content(ng-if='signedIn')
            i.glyphicon.glyphicon-star-empty
            a(ng-click="star()") &nbsp; Add to Favorites
