.container
  .row
    .col-sm-12
      h2 Browse Guides
  .row
    .col-sm-12
      #columns
        figure.brick(ng-repeat="g in guideArray")
          .photo-box
            img.photo(src='{{g.photo}}')
          figcaption
            h4
              a(href="{{g.url}}") {{g.guidename}}
            p.g-owner By {{g.ownername}}
            p {{g.location}}
            .extra(ng-if='signedIn')
              i.glyphicon.glyphicon-star-empty
              a(ng-click="star()") &nbsp; Add to Favorites
