.container
  .row
    .col-sm-12
      h2 Browse Guides
  .row
    .col-sm-12
      #columns
        figure.brick(ng-repeat="f in favoritesArray")
          .photo-box
            img.photo(src='{{f.photo}}')
          figcaption
            h4
              a(href="{{f.url}}") {{f.guidename}}
            p.g-owner By {{f.ownername}}
            p Location: {{f.location}}
            .extra(ng-if='signedIn')
              i.glyphicon.glyphicon-minus
              a(ng-click="delete(p._id)") &nbsp;&nbsp;Remove Favorite
