.container
  .row
    .col-sm-12
      h2 {{name}}'s Guide to {{city}}
  .row
    .col-sm-12.go-right
      button.btn.btn-info(data-toggle="modal", data-target="#mapModal")
        i.glyphicon.glyphicon-map-marker
        span &nbsp;Map View
  .row
    .col-sm-12
      #columns
        figure.brick.add-space(ng-if='signedIn')
          figcaption(data-toggle="modal", data-target="#addModal")
            div
              i.add-destination.glyphicon.glyphicon-plus
            div
              h4.add-destination-text
                a.add-text Add a Destination
        figure.brick(ng-repeat="p in placeArray")
          .photo-box
            img.photo(src='{{p.photo}}')
          figcaption
            h4
              a(href="{{p.url}}" target='_blank') {{p.name}}
            p {{p.address}}
            .extra(ng-if="deletable && signedIn")
                i.glyphicon.glyphicon-trash
                a(ng-click="delete(p._id)") &nbsp;&nbsp;Delete
#addModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title Add a Destination
      .modal-body
          form.home-search.input-group
            input#autocomplete.form-control(ng-focus='initialize()', ng-model='addInput', type='text', placeholder='Search for a place in {{city}}')
            span.input-group-btn
              button.btn.btn-success(ng-click='addDestination()') Add
#mapModal.modal.fade(tabindex='-1', role='dialog' ng-focus='mapSize()')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title Map View
      .modal-body
        #map
