.bg.home-container
  h1.home-header Your Next Big Adventure Awaits
  form.home-search.input-group
    input#autocomplete.form-control.input-lg(ng-focus='initialize()', type='text', placeholder='Where would you like to go?')
    span.input-group-btn
      button.btn.btn-success.btn-lg(ng-click='go()') Take me there
  #signupModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span ×
          h4.modal-title Sign Up
        .modal-body
          // The form is placed inside the body of modal
          form(ng-submit="adduser(user)")
            .form-group
              label Username
              input.form-control(type='text', ng-model='user.username')
            .form-group
              label Email
              input.form-control(type='text', ng-model='user.email')
            .form-group
              label Password
              input.form-control(type='password', ng-model='user.password')
            .go-right
              button.btn.btn-default.right-space(type='button', data-dismiss='modal') Cancel
              button.btn.btn-info(type='submit') Signup
  #loginModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span ×
          h4.modal-title Login
        .modal-body
          // The form is placed inside the body of modal
          form(ng-submit='login(user)')
            .form-group
              label Email
              input.form-control(type='text', ng-model='user.email')
            .form-group
              label Password
              input.form-control(type='password', ng-model='user.password')
            .go-right
              button.btn.btn-default.right-space(type='button', data-dismiss='modal') Cancel
              button.btn.btn-info(type='submit') Log In
