.bg.home-container
  h1.home-header Your Next Big Adventure Awaits
  form.home-search.input-group
    input#autocomplete.form-control.input-lg(ng-focus='initialize()', type='text', placeholder='Where would you like to go?')
    span.input-group-btn
      button.btn.btn-success.btn-lg(ng-click='go()') Take me there
