.container
  .row 
    .col-sm-6.col-md-offset-3.user-form.well.well-lg
      form(ng-submit='updateProfile(user)')
        .form-group
          label Name
          input.form-control(type='text', ng-model='user.name')
        .form-group
          label Location
          input.form-control(type='text', ng-model='user.location')
        .form-group
          label Bio
          textarea.form-control(type='text', ng-model='user.bio')
        .go-right
          button.btn.btn-info(type='submit') Update Profile
