.container  
  .row  
    .col-sm-6  
      form(ng-submit='updateProfile(user)')
        .form-group
          label Name
          input.form-control(type='text', ng-model='user.name')
        .form-group
          label Location
          input.form-control(type='text', ng-model='user.location')
        .form-group
          label Bio
          textarea.form-control(type='text', ng-model='user.bio')
        .go-right
          button.btn.btn-default.right-space(type='button', data-dismiss='modal') Cancel
          button.btn.btn-info(type='submit') Update Profile
