.bg {
  background: url(../images/traveler.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-top: 15%;
}
.home-nav {
  background: rgba(255, 255, 255, 0.5);
  float: right;
  margin-right: 10px;
}
.home-nav a {
  color: #54B59A;
  font-size: 2rem;
}
.home-nav a:hover, a:active, a:focus {
  color: #C86781;
  background: rgba(255, 255, 255, 0) !important;
}
.home-header {
  color: #FFFFFF;
  font-size: 6.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}
.home-search {
  text-align: center;
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
}
.go-right {
  text-align: right;
}
.right-space {
  margin-right: 10px;
}

.add-guide {
  font-size: 4rem;
  border: 3px dashed #D4D4D5;
  padding: 10px;
  border-radius: 50%;
  color: #D4D4D5;
  margin-top: 25%;
}
.add-destination {
  font-size: 4rem;
  border: 3px dashed #D4D4D5;
  padding: 10px;
  border-radius: 50%;
  color: #D4D4D5;
  margin-top: 37%;
}
.add-space {
  text-align: center;
  width: 100%;
  max-height: 350px;
}
.add-destination-text {
  padding-top: 10px;
  color: #D4D4D4 !important;
  margin-bottom: 40%;
}
.add-guide-text {
  padding-top: 10px;
  color: #D4D4D4 !important;
  margin-bottom: 30%;
}
.pac-container {
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
.modal {
  z-index: 20;
}
.modal-backdrop {
  z-index: 10;
}
.center {
  text-align: center;
}
.p-location {
  color: #A1A1A1;
}
.p-bio {
  color: #707070;
}
.user-form {
  margin-top: 10%;
  background-color: #CCF0E4;
}

#map {
 height: 75vh;
 width:100%;
}

.photo{
  height: 100%;
}

.photo-box{
  overflow: hidden;
  max-height: 150px;
}

.brick {
  max-width: 250px;
  vertical-align: text-top;
  border-radius: .28571429rem;
}

#columns {
	column-width: 320px;
	column-gap: 15px;
  width: 100%;
	max-width: 1100px;
	margin: 50px auto;
}

.extra {
    max-width: 100%;
    min-height: 0!important;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-top: 1px solid rgba(0,0,0,.05)!important;
    position: static;
    background: 0 0;
    width: auto;
    margin: 0;
    padding: .75em 1em;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    box-shadow: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 7px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: 1.2rem;
	color: #444;
  line-height: 1.5;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}
