.bg {
  background: url(../images/traveler-amber.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-top: 15%;
}
.home-nav {
  background: rgba(255, 255, 255, 0.5);
  float: right;
  margin-right: 10px;
}
.home-nav a {
  color: #54B59A;
  font-size: 2rem;
}
.home-nav a:hover, a:active, a:focus {
  color: #C86781;
  background: rgba(255, 255, 255, 0) !important;
}
.home-header {
  color: #FFFFFF;
  font-size: 6.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}
.home-search {
  text-align: center;
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
}
.go-right {
  text-align: right;
}
.right-space {
  margin-right: 10px;
}
.card-space {
  margin-top: 3%;
}
.card-u-space {
  margin-top: 2%;
}
.add-guide {
  font-size: 4rem;
  border: 3px dashed #D4D4D5;
  padding: 10px;
  border-radius: 50%;
  color: #D4D4D5;
  margin-top: 30%;
}
.add-destination {
  font-size: 4rem;
  border: 3px dashed #D4D4D5;
  padding: 10px;
  border-radius: 50%;
  color: #D4D4D5;
  margin-top: 45%;
}
.add-space {
  text-align: center;
  height: 100%;
}
.add-text {
  padding-top: 20px;
  color: #D4D4D4 !important;
  margin-bottom: 45%;
}
.add-guide-text {
  padding-top: 20px;
  color: #D4D4D4 !important;
  margin-bottom: 27%;
}
.pac-container {
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
.modal {
  z-index: 20;
}
.modal-backdrop {
  z-index: 10;
}
.center {
  text-align: center;
}
.p-location {
  color: #A1A1A1;
}
.p-bio {
  color: #707070;
}
.user-form {
  margin-top: 10%;
  background-color: #CCF0E4;
}

#map {
 height: 75vh;
 width:100%;
}


#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}
